{
  "appid": "touristappid",
  "compileType": "miniprogram",
  "projectname": "yijing-miniprogram",
  "miniprogramRoot": "./",
  "setting": {
    "urlCheck": false,
    "es6": true,
    "postcss": true,
    "minified": true,
    "ignoreDevUnusedFiles": false
  }
}
